<template name="Home">
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Sora</td>
      <td>K</td>
      <td>Hawaii</td>
      <td>911</td>
      <td>ok@ok.com</td>
    </tr>
    <tr>
      <td>okoko</td>
      <td>K</td>
      <td>Hawaii</td>
      <td>911</td>
      <td>ok@ok.com</td>
    </tr>
    </tbody>
  </table>
</template>
