body, footer {
  font-family: 'Open Sans', serif;
  color:#075246;
}

.headerr{
  background-image: url("/images/bg-header-index.jpg");
  background-size: cover;
  height: 300px;
}

.navbar{
  border-radius: 0px;
  background-color: #075246;
  border-color: #075246;
}

